<a href="https://colab.research.google.com/github/GrigoreGeorgeAlexandru/Colab-projects/blob/main/Proiect_BIGDATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cuprins:
1. Introducere
2. Implementarea de scripturi Spark
3. Aplicarea metode ML
4. Data Pipeline
5. functii UDF
6. Aplicarea metode DL
7. Spark Streaming

1.	Introducere

Pentru proiect am ales setul de date “IMDB Top 250 TV Shows” , ce ofera o lista de seriale TV si informatii despre acestea asa cum sunt prezentate pe site-ul IMDB: titlu, an, numarul de episoade , varsta recomandata, rating-ul,numarul de voturi primate pe site, categoria de serial.

Link: https://www.kaggle.com/datasets/ritiksharma07/top-250-imdb-tv-shows?resource=download

Obiectivele proiectului sunt rezolvarea cerintelor de proiect: implementarea de scripturi Spark,aplicarea a doua metode ML, folosirea unui Data Pipeline,utilizarea unei functii UDF, aplicarea unei metode DL,creerea unui process de streaming folosind Spark Streaming.

2.Implementarea de scripturi Spark

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark
from pyspark import SparkContext as sc
import numpy as np
from pyspark.sql import SparkSession

In [ ]:

spark1 = SparkSession.builder.appName('Project').getOrCreate()
df = spark1.read.csv('IMDB_Top250_Tvshows.csv') #citim setul de date

In [ ]:
df.show() #vedem starea initiala a datelor

+--------------------+---------+--------------+---+------+----------+--------------+
|                 _c0|      _c1|           _c2|_c3|   _c4|       _c5|           _c6|
+--------------------+---------+--------------+---+------+----------+--------------+
|              Titile|     Year|Total_episodes|Age|Rating|Vote_count|      Category|
|     1. Breaking Bad|2008�2013|        62 eps| 18|   9.5|    (2.2M)|     TV Series|
|  2. Planet Earth II|     2016|         6 eps| PG|   9.5|    (159K)|TV Mini Series|
|     3. Planet Earth|     2006|        11 eps| PG|   9.4|    (221K)|TV Mini Series|
| 4. Band of Brothers|     2001|        10 eps| 15|   9.4|    (533K)|TV Mini Series|
|        5. Chernobyl|     2019|         5 eps| 15|   9.3|    (876K)|TV Mini Series|
|         6. The Wire|2002�2008|        60 eps| 18|   9.3|    (381K)|     TV Series|
|7. Avatar: The La...|2005�2008|        62 eps| PG|   9.3|    (378K)|     TV Series|
|   8. Blue Planet II|     2017|         7 eps|  U|   9.3|     (47K)|TV Mini Series|
|     9. The Sopranos|1999�2007|        86 eps| 18|   9.2|    (478K)|     TV Series|
|          10. Cosmos|     2014|        13 eps| PG|   9.2|    (130K)|TV Mini Series|
|          11. Cosmos|     1980|        13 eps|  U|   9.3|     (45K)|TV Mini Series|
|      12. Our Planet|2019�2023|        12 eps|  U|   9.3|     (52K)|     TV Series|
| 13. Game of Thrones|2011�2019|        74 eps| 18|   9.2|    (2.3M)|     TV Series|
|14. The World at War|1973�1974|        26 eps| 15|   9.2|     (30K)|     TV Series|
|           15. Bluey|    2018�|       194 eps|  U|   9.4|     (30K)|     TV Series|
|16. Fullmetal Alc...|2009�2010|        68 eps| PG|   9.1|    (200K)|     TV Series|
|  17. Rick and Morty|     2013|        74 eps| 15|   9.1|    (608K)|     TV Series|
|            18. Life|     2009|        11 eps|  E|   9.1|     (43K)|TV Mini Series|
|  19. The Last Dance|     2020|        10 eps| 15|   9.1|    (154K)|TV Mini Series|
+--------------------+---------+--------------+---+------+----------+--------------+
only showing top 20 rows

In [ ]:
#definim propria schema pentru setul de date
from pyspark.sql.types import StructField, IntegerType, StringType, StructType, FloatType
data_schema = [StructField('Title',StringType(),True),
StructField('Year',StringType(),True),StructField('Total episodes',StringType(),True),StructField('Age',StringType(),True),
               StructField('Rating',FloatType(),True),StructField('Vote count',StringType(),True),StructField('Category',StringType(),True),]
final_struct = StructType(fields=data_schema)

In [ ]:
#creeam dataframe-ul
df = spark1.read.csv('IMDB_Top250_Tvshows.csv',schema=final_struct)
df.show()
#curatam datele de primul rand care nu ne mai foloseste
df = df.dropna()
df.show()

#transformam coloana de episoade din string in int, eliminand partea cu "eps"
from pyspark.sql.functions import regexp_extract, col
df = df.withColumn("Total episodes", regexp_extract(col("Total episodes"), r"(\d+)", 1).cast("int"))
df.show()

+--------------------+---------+--------------+---+------+----------+--------------+
|               Title|     Year|Total episodes|Age|Rating|Vote count|      Category|
+--------------------+---------+--------------+---+------+----------+--------------+
|              Titile|     Year|Total_episodes|Age|  NULL|Vote_count|      Category|
|     1. Breaking Bad|2008�2013|        62 eps| 18|   9.5|    (2.2M)|     TV Series|
|  2. Planet Earth II|     2016|         6 eps| PG|   9.5|    (159K)|TV Mini Series|
|     3. Planet Earth|     2006|        11 eps| PG|   9.4|    (221K)|TV Mini Series|
| 4. Band of Brothers|     2001|        10 eps| 15|   9.4|    (533K)|TV Mini Series|
|        5. Chernobyl|     2019|         5 eps| 15|   9.3|    (876K)|TV Mini Series|
|         6. The Wire|2002�2008|        60 eps| 18|   9.3|    (381K)|     TV Series|
|7. Avatar: The La...|2005�2008|        62 eps| PG|   9.3|    (378K)|     TV Series|
|   8. Blue Planet II|     2017|         7 eps|  U|   9.3|     (47K)|TV Mini Series|
|     9. The Sopranos|1999�2007|        86 eps| 18|   9.2|    (478K)|     TV Series|
|          10. Cosmos|     2014|        13 eps| PG|   9.2|    (130K)|TV Mini Series|
|          11. Cosmos|     1980|        13 eps|  U|   9.3|     (45K)|TV Mini Series|
|      12. Our Planet|2019�2023|        12 eps|  U|   9.3|     (52K)|     TV Series|
| 13. Game of Thrones|2011�2019|        74 eps| 18|   9.2|    (2.3M)|     TV Series|
|14. The World at War|1973�1974|        26 eps| 15|   9.2|     (30K)|     TV Series|
|           15. Bluey|    2018�|       194 eps|  U|   9.4|     (30K)|     TV Series|
|16. Fullmetal Alc...|2009�2010|        68 eps| PG|   9.1|    (200K)|     TV Series|
|  17. Rick and Morty|     2013|        74 eps| 15|   9.1|    (608K)|     TV Series|
|            18. Life|     2009|        11 eps|  E|   9.1|     (43K)|TV Mini Series|
|  19. The Last Dance|     2020|        10 eps| 15|   9.1|    (154K)|TV Mini Series|
+--------------------+---------+--------------+---+------+----------+--------------+
only showing top 20 rows

+--------------------+---------+--------------+---+------+----------+--------------+
|               Title|     Year|Total episodes|Age|Rating|Vote count|      Category|
+--------------------+---------+--------------+---+------+----------+--------------+
|     1. Breaking Bad|2008�2013|        62 eps| 18|   9.5|    (2.2M)|     TV Series|
|  2. Planet Earth II|     2016|         6 eps| PG|   9.5|    (159K)|TV Mini Series|
|     3. Planet Earth|     2006|        11 eps| PG|   9.4|    (221K)|TV Mini Series|
| 4. Band of Brothers|     2001|        10 eps| 15|   9.4|    (533K)|TV Mini Series|
|        5. Chernobyl|     2019|         5 eps| 15|   9.3|    (876K)|TV Mini Series|
|         6. The Wire|2002�2008|        60 eps| 18|   9.3|    (381K)|     TV Series|
|7. Avatar: The La...|2005�2008|        62 eps| PG|   9.3|    (378K)|     TV Series|
|   8. Blue Planet II|     2017|         7 eps|  U|   9.3|     (47K)|TV Mini Series|
|     9. The Sopranos|1999�2007|        86 eps| 18|   9.2|    (478K)|     TV Series|
|          10. Cosmos|     2014|        13 eps| PG|   9.2|    (130K)|TV Mini Series|
|          11. Cosmos|     1980|        13 eps|  U|   9.3|     (45K)|TV Mini Series|
|      12. Our Planet|2019�2023|        12 eps|  U|   9.3|     (52K)|     TV Series|
| 13. Game of Thrones|2011�2019|        74 eps| 18|   9.2|    (2.3M)|     TV Series|
|14. The World at War|1973�1974|        26 eps| 15|   9.2|     (30K)|     TV Series|
|           15. Bluey|    2018�|       194 eps|  U|   9.4|     (30K)|     TV Series|
|16. Fullmetal Alc...|2009�2010|        68 eps| PG|   9.1|    (200K)|     TV Series|
|  17. Rick and Morty|     2013|        74 eps| 15|   9.1|    (608K)|     TV Series|
|            18. Life|     2009|        11 eps|  E|   9.1|     (43K)|TV Mini Series|
|  19. The Last Dance|     2020|        10 eps| 15|   9.1|    (154K)|TV Mini Series|
|20. The Twilight ...|1959�1964|       156 eps| 12|   9.1|     (94K)|     TV Series|
+--------------------+---------+--------------+---+------+----------+--------------+
only showing top 20 rows

+--------------------+---------+--------------+---+------+----------+--------------+
|               Title|     Year|Total episodes|Age|Rating|Vote count|      Category|
+--------------------+---------+--------------+---+------+----------+--------------+
|     1. Breaking Bad|2008�2013|            62| 18|   9.5|    (2.2M)|     TV Series|
|  2. Planet Earth II|     2016|             6| PG|   9.5|    (159K)|TV Mini Series|
|     3. Planet Earth|     2006|            11| PG|   9.4|    (221K)|TV Mini Series|
| 4. Band of Brothers|     2001|            10| 15|   9.4|    (533K)|TV Mini Series|
|        5. Chernobyl|     2019|             5| 15|   9.3|    (876K)|TV Mini Series|
|         6. The Wire|2002�2008|            60| 18|   9.3|    (381K)|     TV Series|
|7. Avatar: The La...|2005�2008|            62| PG|   9.3|    (378K)|     TV Series|
|   8. Blue Planet II|     2017|             7|  U|   9.3|     (47K)|TV Mini Series|
|     9. The Sopranos|1999�2007|            86| 18|   9.2|    (478K)|     TV Series|
|          10. Cosmos|     2014|            13| PG|   9.2|    (130K)|TV Mini Series|
|          11. Cosmos|     1980|            13|  U|   9.3|     (45K)|TV Mini Series|
|      12. Our Planet|2019�2023|            12|  U|   9.3|     (52K)|     TV Series|
| 13. Game of Thrones|2011�2019|            74| 18|   9.2|    (2.3M)|     TV Series|
|14. The World at War|1973�1974|            26| 15|   9.2|     (30K)|     TV Series|
|           15. Bluey|    2018�|           194|  U|   9.4|     (30K)|     TV Series|
|16. Fullmetal Alc...|2009�2010|            68| PG|   9.1|    (200K)|     TV Series|
|  17. Rick and Morty|     2013|            74| 15|   9.1|    (608K)|     TV Series|
|            18. Life|     2009|            11|  E|   9.1|     (43K)|TV Mini Series|
|  19. The Last Dance|     2020|            10| 15|   9.1|    (154K)|TV Mini Series|
|20. The Twilight ...|1959�1964|           156| 12|   9.1|     (94K)|     TV Series|
+--------------------+---------+--------------+---+------+----------+--------------+
only showing top 20 rows

In [ ]:


#grupari si agregari de date

df.filter((df['Total episodes']<30)).select(['Title','Rating','Age']).show(5)# afisam primele 10 intrari pentru seriale cu sub 30 episoade
df.filter((df['Total episodes']<30) & (df['Rating']>7)).show(5)#afisam primele 5 intrari care au sub 30 ep si nota peste 7
df.filter(df['Category']=="TV Mini Series").show() #afisam toate serialele mini series

#luam toate serialele cu rating-ul PG si afisam primul rand ca dictionar
data1 = df.filter(df['Age'] == "PG").collect()
row=data1[0].asDict()
print(row)
#luam toate serialele cu nota peste 9 si afisam primul rand ca dictionar
data2 = df.filter(df['Age'] > 9).collect()
row=data2[0].asDict()
print(row)

+-------------------+------+---+
|              Title|Rating|Age|
+-------------------+------+---+
| 2. Planet Earth II|   9.5| PG|
|    3. Planet Earth|   9.4| PG|
|4. Band of Brothers|   9.4| 15|
|       5. Chernobyl|   9.3| 15|
|  8. Blue Planet II|   9.3|  U|
+-------------------+------+---+
only showing top 5 rows

+-------------------+----+--------------+---+------+----------+--------------+
|              Title|Year|Total episodes|Age|Rating|Vote count|      Category|
+-------------------+----+--------------+---+------+----------+--------------+
| 2. Planet Earth II|2016|             6| PG|   9.5|    (159K)|TV Mini Series|
|    3. Planet Earth|2006|            11| PG|   9.4|    (221K)|TV Mini Series|
|4. Band of Brothers|2001|            10| 15|   9.4|    (533K)|TV Mini Series|
|       5. Chernobyl|2019|             5| 15|   9.3|    (876K)|TV Mini Series|
|  8. Blue Planet II|2017|             7|  U|   9.3|     (47K)|TV Mini Series|
+-------------------+----+--------------+---+------+----------+--------------+
only showing top 5 rows

+--------------------+---------+--------------+-----+------+----------+--------------+
|               Title|     Year|Total episodes|  Age|Rating|Vote count|      Category|
+--------------------+---------+--------------+-----+------+----------+--------------+
|  2. Planet Earth II|     2016|             6|   PG|   9.5|    (159K)|TV Mini Series|
|     3. Planet Earth|     2006|            11|   PG|   9.4|    (221K)|TV Mini Series|
| 4. Band of Brothers|     2001|            10|   15|   9.4|    (533K)|TV Mini Series|
|        5. Chernobyl|     2019|             5|   15|   9.3|    (876K)|TV Mini Series|
|   8. Blue Planet II|     2017|             7|    U|   9.3|     (47K)|TV Mini Series|
|          10. Cosmos|     2014|            13|   PG|   9.2|    (130K)|TV Mini Series|
|          11. Cosmos|     1980|            13|    U|   9.3|     (45K)|TV Mini Series|
|            18. Life|     2009|            11|    E|   9.1|     (43K)|TV Mini Series|
|  19. The Last Dance|     2020|            10|   15|   9.1|    (154K)|TV Mini Series|
| 22. The Vietnam War|     2017|            10|   15|   9.1|     (28K)|TV Mini Series|
| 26. The Blue Planet|     2001|             8|    E|   9.0|     (43K)|TV Mini Series|
|29. Scam 1992: Th...|     2020|            10|   15|   9.2|    (158K)|TV Mini Series|
|    31. Human Planet|     2011|             8|   PG|   9.0|     (28K)|TV Mini Series|
|   32. Frozen Planet|2011�2012|            10|    E|   9.0|     (33K)|TV Mini Series|
|   36. The Civil War|     1990|             9|TV-14|   9.0|     (19K)|TV Mini Series|
|39. The Beatles: ...|     2021|             3|   15|   8.9|     (29K)|TV Mini Series|
|         40. Dekalog|1989�1990|            10|   15|   8.9|     (28K)|TV Mini Series|
|49. Apocalypse: T...|     2009|             6|TV-MA|   9.0|     (14K)|TV Mini Series|
|50. When They See Us|     2019|             4|   15|   8.8|    (139K)|TV Mini Series|
|          52. Africa|     2013|             7|   PG|   8.9|     (17K)|TV Mini Series|
+--------------------+---------+--------------+-----+------+----------+--------------+
only showing top 20 rows

{'Title': '2. Planet Earth II', 'Year': '2016', 'Total episodes': 6, 'Age': 'PG', 'Rating': 9.5, 'Vote count': '(159K)', 'Category': 'TV Mini Series'}
{'Title': '1. Breaking Bad', 'Year': '2008�2013', 'Total episodes': 62, 'Age': '18', 'Rating': 9.5, 'Vote count': '(2.2M)', 'Category': 'TV Series'}

In [ ]:
#SparkSQL


df.createOrReplaceTempView("data")
#afisam primele 5 randuri din data
result = spark1.sql("SELECT * FROM data LIMIT 5")
result

#Afisam coloanele rezultatului
result.columns
#Afisam rezultatul
result.show()
#afisam primele 3 coloane din setul de date denumite Title Year Episode Count
data = spark1.sql("SELECT _c0 as Title, _c1 as Year, _c2 as Episode_Count FROM csv.`IMDB_Top250_Tvshows.csv` offset 1")
data.show()
#afisam primele 10 seriale cu rating-ul peste 9
spark1.sql("SELECT * FROM data WHERE rating>9 LIMIT 10").show()

+-------------------+---------+--------------+---+------+----------+--------------+
|              Title|     Year|Total episodes|Age|Rating|Vote count|      Category|
+-------------------+---------+--------------+---+------+----------+--------------+
|    1. Breaking Bad|2008�2013|            62| 18|   9.5|    (2.2M)|     TV Series|
| 2. Planet Earth II|     2016|             6| PG|   9.5|    (159K)|TV Mini Series|
|    3. Planet Earth|     2006|            11| PG|   9.4|    (221K)|TV Mini Series|
|4. Band of Brothers|     2001|            10| 15|   9.4|    (533K)|TV Mini Series|
|       5. Chernobyl|     2019|             5| 15|   9.3|    (876K)|TV Mini Series|
+-------------------+---------+--------------+---+------+----------+--------------+

+--------------------+---------+-------------+
|               Title|     Year|Episode_Count|
+--------------------+---------+-------------+
|     1. Breaking Bad|2008�2013|       62 eps|
|  2. Planet Earth II|     2016|        6 eps|
|     3. Planet Earth|     2006|       11 eps|
| 4. Band of Brothers|     2001|       10 eps|
|        5. Chernobyl|     2019|        5 eps|
|         6. The Wire|2002�2008|       60 eps|
|7. Avatar: The La...|2005�2008|       62 eps|
|   8. Blue Planet II|     2017|        7 eps|
|     9. The Sopranos|1999�2007|       86 eps|
|          10. Cosmos|     2014|       13 eps|
|          11. Cosmos|     1980|       13 eps|
|      12. Our Planet|2019�2023|       12 eps|
| 13. Game of Thrones|2011�2019|       74 eps|
|14. The World at War|1973�1974|       26 eps|
|           15. Bluey|    2018�|      194 eps|
|16. Fullmetal Alc...|2009�2010|       68 eps|
|  17. Rick and Morty|     2013|       74 eps|
|            18. Life|     2009|       11 eps|
|  19. The Last Dance|     2020|       10 eps|
|20. The Twilight ...|1959�1964|      156 eps|
+--------------------+---------+-------------+
only showing top 20 rows

+--------------------+---------+--------------+---+------+----------+--------------+
|               Title|     Year|Total episodes|Age|Rating|Vote count|      Category|
+--------------------+---------+--------------+---+------+----------+--------------+
|     1. Breaking Bad|2008�2013|            62| 18|   9.5|    (2.2M)|     TV Series|
|  2. Planet Earth II|     2016|             6| PG|   9.5|    (159K)|TV Mini Series|
|     3. Planet Earth|     2006|            11| PG|   9.4|    (221K)|TV Mini Series|
| 4. Band of Brothers|     2001|            10| 15|   9.4|    (533K)|TV Mini Series|
|        5. Chernobyl|     2019|             5| 15|   9.3|    (876K)|TV Mini Series|
|         6. The Wire|2002�2008|            60| 18|   9.3|    (381K)|     TV Series|
|7. Avatar: The La...|2005�2008|            62| PG|   9.3|    (378K)|     TV Series|
|   8. Blue Planet II|     2017|             7|  U|   9.3|     (47K)|TV Mini Series|
|     9. The Sopranos|1999�2007|            86| 18|   9.2|    (478K)|     TV Series|
|          10. Cosmos|     2014|            13| PG|   9.2|    (130K)|TV Mini Series|
+--------------------+---------+--------------+---+------+----------+--------------+

In [ ]:
#facem grupari de date si afisam rezultatele

df.groupby('Category').mean().show()#medie
df.groupby('Category').max().show()#maxim
df.groupby('Category').min().show()#minim


#aceleasi operatii cu agregari
df_group=df.groupby('Category')
df_group.agg({'Rating':'max'}).show()#medie
df_group.agg({'Rating':'min'}).show()#maxim
df_group.agg({'Rating':'mean'}).show()#minim

#afisam categoria de serial cu cea mai mare valoare de medie de rating-uri
spark1.sql('''
select Category, mean(Rating) as mean_rating from data
group by Category
having mean_rating = (select max(me) from (
  select mean(Rating) as me from data group by Category
    ) )
''').show()

+--------------+-------------------+-----------------+
|      Category|avg(Total episodes)|      avg(Rating)|
+--------------+-------------------+-----------------+
|     TV Series|   84.3170731707317|8.731219561507062|
|TV Mini Series|  8.179487179487179|8.887179545867138|
+--------------+-------------------+-----------------+

+--------------+-------------------+-----------+
|      Category|max(Total episodes)|max(Rating)|
+--------------+-------------------+-----------+
|     TV Series|               1122|        9.5|
|TV Mini Series|                 13|        9.5|
+--------------+-------------------+-----------+

+--------------+-------------------+-----------+
|      Category|min(Total episodes)|min(Rating)|
+--------------+-------------------+-----------+
|     TV Series|                  4|        8.5|
|TV Mini Series|                  2|        8.5|
+--------------+-------------------+-----------+

+--------------+-----------+
|      Category|max(Rating)|
+--------------+-----------+
|     TV Series|        9.5|
|TV Mini Series|        9.5|
+--------------+-----------+

+--------------+-----------+
|      Category|min(Rating)|
+--------------+-----------+
|     TV Series|        8.5|
|TV Mini Series|        8.5|
+--------------+-----------+

+--------------+-----------------+
|      Category|      avg(Rating)|
+--------------+-----------------+
|     TV Series|8.731219561507062|
|TV Mini Series|8.887179545867138|
+--------------+-----------------+

+--------------+-----------------+
|      Category|      mean_rating|
+--------------+-----------------+
|TV Mini Series|8.887179545867138|
+--------------+-----------------+

In [ ]:

df.show()
# Importați clasa LinearRegression
from pyspark.ml.regression import LinearRegression
# Import VectorAssembler and Vectors
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
#regresia liniara pentru a prezice rating-ul in functie de numarul de episoade:
# Adaugam coloana total episodes in vectorul de caracteristici
assembler = VectorAssembler(
    inputCols=["Total episodes"
               ],
    outputCol="features")
output = assembler.transform(df)
#Afișați coloana features
output.select("features").show(truncate=False)
output.select("features").head(3)
output.show()
#Afișați toate coloanele din output
output.columns
# Reținem doar coloana Rating
final_data = output.select("features",'Rating')
# Creați o diviziune train-test cu procentele 70%-30%
train_data,test_data = output.randomSplit([0.7,0.3])
# Afișați statistici asupra datelor de training
train_data.summary().show()
# Afișați statistici asupra datelor de test
test_data.summary().show()
# Creați un model de regresie liniară
lrModel=LinearRegression(labelCol="Rating")
# Antrenați modelul
lrModel = lrModel.fit(train_data)
# Afișați coeficienții și intercepția pentru regresia liniară
lrModel.coefficients,lrModel.intercept
#Evaluați modelul pe datele de test
test_results=lrModel.evaluate(test_data)

# Afișați valorile reziduale
test_results.residuals.show()
# Obțineți datele de test neetichetate.
unlabled_data=test_data.select('features')
# Aplicați modelul obținut anterior pe datele de test neetichetate
predictions=lrModel.transform(unlabled_data)
#Afișați predicțiile obținute
predictions.show()
#comparam cu datele test
test_data.select("features","Rating").show()

+--------------------+---------+--------------+---+------+----------+--------------+
|               Title|     Year|Total episodes|Age|Rating|Vote count|      Category|
+--------------------+---------+--------------+---+------+----------+--------------+
|     1. Breaking Bad|2008�2013|            62| 18|   9.5|    (2.2M)|     TV Series|
|  2. Planet Earth II|     2016|             6| PG|   9.5|    (159K)|TV Mini Series|
|     3. Planet Earth|     2006|            11| PG|   9.4|    (221K)|TV Mini Series|
| 4. Band of Brothers|     2001|            10| 15|   9.4|    (533K)|TV Mini Series|
|        5. Chernobyl|     2019|             5| 15|   9.3|    (876K)|TV Mini Series|
|         6. The Wire|2002�2008|            60| 18|   9.3|    (381K)|     TV Series|
|7. Avatar: The La...|2005�2008|            62| PG|   9.3|    (378K)|     TV Series|
|   8. Blue Planet II|     2017|             7|  U|   9.3|     (47K)|TV Mini Series|
|     9. The Sopranos|1999�2007|            86| 18|   9.2|    (478K)|     TV Series|
|          10. Cosmos|     2014|            13| PG|   9.2|    (130K)|TV Mini Series|
|          11. Cosmos|     1980|            13|  U|   9.3|     (45K)|TV Mini Series|
|      12. Our Planet|2019�2023|            12|  U|   9.3|     (52K)|     TV Series|
| 13. Game of Thrones|2011�2019|            74| 18|   9.2|    (2.3M)|     TV Series|
|14. The World at War|1973�1974|            26| 15|   9.2|     (30K)|     TV Series|
|           15. Bluey|    2018�|           194|  U|   9.4|     (30K)|     TV Series|
|16. Fullmetal Alc...|2009�2010|            68| PG|   9.1|    (200K)|     TV Series|
|  17. Rick and Morty|     2013|            74| 15|   9.1|    (608K)|     TV Series|
|            18. Life|     2009|            11|  E|   9.1|     (43K)|TV Mini Series|
|  19. The Last Dance|     2020|            10| 15|   9.1|    (154K)|TV Mini Series|
|20. The Twilight ...|1959�1964|           156| 12|   9.1|     (94K)|     TV Series|
+--------------------+---------+--------------+---+------+----------+--------------+
only showing top 20 rows

+--------+
|features|
+--------+
|[62.0]  |
|[6.0]   |
|[11.0]  |
|[10.0]  |
|[5.0]   |
|[60.0]  |
|[62.0]  |
|[7.0]   |
|[86.0]  |
|[13.0]  |
|[13.0]  |
|[12.0]  |
|[74.0]  |
|[26.0]  |
|[194.0] |
|[68.0]  |
|[74.0]  |
|[11.0]  |
|[10.0]  |
|[156.0] |
+--------+
only showing top 20 rows

+--------------------+---------+--------------+---+------+----------+--------------+--------+
|               Title|     Year|Total episodes|Age|Rating|Vote count|      Category|features|
+--------------------+---------+--------------+---+------+----------+--------------+--------+
|     1. Breaking Bad|2008�2013|            62| 18|   9.5|    (2.2M)|     TV Series|  [62.0]|
|  2. Planet Earth II|     2016|             6| PG|   9.5|    (159K)|TV Mini Series|   [6.0]|
|     3. Planet Earth|     2006|            11| PG|   9.4|    (221K)|TV Mini Series|  [11.0]|
| 4. Band of Brothers|     2001|            10| 15|   9.4|    (533K)|TV Mini Series|  [10.0]|
|        5. Chernobyl|     2019|             5| 15|   9.3|    (876K)|TV Mini Series|   [5.0]|
|         6. The Wire|2002�2008|            60| 18|   9.3|    (381K)|     TV Series|  [60.0]|
|7. Avatar: The La...|2005�2008|            62| PG|   9.3|    (378K)|     TV Series|  [62.0]|
|   8. Blue Planet II|     2017|             7|  U|   9.3|     (47K)|TV Mini Series|   [7.0]|
|     9. The Sopranos|1999�2007|            86| 18|   9.2|    (478K)|     TV Series|  [86.0]|
|          10. Cosmos|     2014|            13| PG|   9.2|    (130K)|TV Mini Series|  [13.0]|
|          11. Cosmos|     1980|            13|  U|   9.3|     (45K)|TV Mini Series|  [13.0]|
|      12. Our Planet|2019�2023|            12|  U|   9.3|     (52K)|     TV Series|  [12.0]|
| 13. Game of Thrones|2011�2019|            74| 18|   9.2|    (2.3M)|     TV Series|  [74.0]|
|14. The World at War|1973�1974|            26| 15|   9.2|     (30K)|     TV Series|  [26.0]|
|           15. Bluey|    2018�|           194|  U|   9.4|     (30K)|     TV Series| [194.0]|
|16. Fullmetal Alc...|2009�2010|            68| PG|   9.1|    (200K)|     TV Series|  [68.0]|
|  17. Rick and Morty|     2013|            74| 15|   9.1|    (608K)|     TV Series|  [74.0]|
|            18. Life|     2009|            11|  E|   9.1|     (43K)|TV Mini Series|  [11.0]|
|  19. The Last Dance|     2020|            10| 15|   9.1|    (154K)|TV Mini Series|  [10.0]|
|20. The Twilight ...|1959�1964|           156| 12|   9.1|     (94K)|     TV Series| [156.0]|
+--------------------+---------+--------------+---+------+----------+--------------+--------+
only showing top 20 rows

+-------+--------------------+------------------+------------------+------------------+-------------------+----------+--------------+
|summary|               Title|              Year|    Total episodes|               Age|             Rating|Vote count|      Category|
+-------+--------------------+------------------+------------------+------------------+-------------------+----------+--------------+
|  count|                 162|               162|               162|               162|                162|       162|           162|
|   mean|                NULL|2007.8260869565217| 74.61111111111111|15.254901960784315|  8.759259318128045|      NULL|          NULL|
| stddev|                NULL|13.469332756346388|102.87779942682889| 1.778230706556012|0.21913306420668519|      NULL|          NULL|
|    min|   100. The Simpsons|         1960�1975|                 2|                12|                8.5|    (1.4M)|TV Mini Series|
|    25%|                NULL|            1998.0|                18|              15.0|                8.6|      NULL|          NULL|
|    50%|                NULL|            2013.0|                39|              15.0|                8.7|      NULL|          NULL|
|    75%|                NULL|            2020.0|                78|              15.0|                8.9|      NULL|          NULL|
|    max|98. Battlestar Ga...|         2024�2026|               768|                 U|                9.5|     (97K)|     TV Series|
+-------+--------------------+------------------+------------------+------------------+-------------------+----------+--------------+

+-------+-----------------+------------------+------------------+------------------+------------------+----------+--------------+
|summary|            Title|              Year|    Total episodes|               Age|            Rating|Vote count|      Category|
+-------+-----------------+------------------+------------------+------------------+------------------+----------+--------------+
|  count|               82|                82|                82|                82|                82|        82|            82|
|   mean|             NULL|           2008.95| 67.28048780487805|15.608695652173912| 8.750000034890524|      NULL|          NULL|
| stddev|             NULL|13.865804207322055|136.90307235234783|1.6258776893941207|0.2420334990317535|      NULL|          NULL|
|    min|  1. Breaking Bad|         1959�1964|                 4|                12|               8.5|    (1.1M)|TV Mini Series|
|    25%|             NULL|            1999.0|                12|              15.0|               8.6|      NULL|          NULL|
|    50%|             NULL|            2011.0|                26|              15.0|               8.7|      NULL|          NULL|
|    75%|             NULL|            2019.0|                63|              18.0|               8.9|      NULL|          NULL|
|    max|99. Downton Abbey|             2023�|              1122|                 U|               9.5|     (99K)|     TV Series|
+-------+-----------------+------------------+------------------+------------------+------------------+----------+--------------+

+--------------------+
|           residuals|
+--------------------+
|  0.7397011018552746|
|  0.4356616618926026|
|-0.05782607914827764|
|-0.05848554840996023|
|-0.06334913421487265|
|-0.05090165190060...|
|-0.06219506300692679|
|  0.5355796097046195|
| 0.14110209256662465|
| -0.1633485620102828|
|-0.06334913421487265|
|-0.15518762989695567|
|-0.14158607637474319|
|-0.16499723516449016|
|-0.16227692446004838|
| -0.1649148015067805|
|-0.16442019956051723|
|-0.05807338012140839|
|-0.16458506687593832|
|-0.06433833810739742|
+--------------------+
only showing top 20 rows

+--------+-----------------+
|features|       prediction|
+--------+-----------------+
|  [62.0]|8.760298898144725|
|  [13.0]|8.764338147372534|
|  [92.0]|8.757825888413414|
|  [84.0]|8.758485357675097|
|  [25.0]| 8.76334894348001|
| [176.0]|8.750901461165743|
|  [39.0]|8.762194872272064|
|  [12.0]|8.764420581030244|
|  [79.0]|8.758897525963649|
|  [25.0]| 8.76334894348001|
|  [25.0]| 8.76334894348001|
| [124.0]|8.755188011366682|
| [289.0]| 8.74158645784447|
|   [5.0]|8.764997616634217|
|  [38.0]|8.762277305929775|
|   [6.0]|8.764915182976507|
|  [12.0]|8.764420581030244|
|  [89.0]|8.758073189386545|
|  [10.0]|8.764585448345665|
|  [13.0]|8.764338147372534|
+--------+-----------------+
only showing top 20 rows

+--------+------+
|features|Rating|
+--------+------+
|  [62.0]|   9.5|
|  [13.0]|   9.2|
|  [92.0]|   8.7|
|  [84.0]|   8.7|
|  [25.0]|   8.7|
| [176.0]|   8.7|
|  [39.0]|   8.7|
|  [12.0]|   9.3|
|  [79.0]|   8.9|
|  [25.0]|   8.6|
|  [25.0]|   8.7|
| [124.0]|   8.6|
| [289.0]|   8.6|
|   [5.0]|   8.6|
|  [38.0]|   8.6|
|   [6.0]|   8.6|
|  [12.0]|   8.6|
|  [89.0]|   8.7|
|  [10.0]|   8.6|
|  [13.0]|   8.7|
+--------+------+
only showing top 20 rows

In [ ]:
#regresia logistica


from pyspark.ml.feature import (VectorAssembler,VectorIndexer,
                                OneHotEncoder,StringIndexer)
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType





# Definim o funcție UDF ca sa transformam coloana Age in int

def is_rating(rating):


  if rating == 'E':
    return 0
  elif rating == 'U':
    return 0
  elif rating == 'G':
    return 0
  elif rating == 'PG':
    return 13
  elif rating == '12A':
    return 12
  elif rating == '12':
    return 12
  elif rating == '15':
    return 15
  elif rating == '18':
    return 18
  elif rating == 'Caution':
    return 18
  elif rating == 'R18':
    return 18



# Înregistrăm funcția ca UDF și specificăm tipul de returnare
is_rating_udf = udf(is_rating, IntegerType())

# Aplicăm UDF-ul pe coloana "age" și creăm o nouă coloană
df = df.withColumn("Age", is_rating_udf(df["Age"]))
df.show()
df.printSchema()



#transformam coloana de rating in int-uri pentru regresia logistica
df = df.withColumn('Rating', col('Rating').cast("int"))
df.show()
df.printSchema()

#creama age indexer si episode indexer
age_indexer = StringIndexer(inputCol='Age',outputCol='AgeIndex', handleInvalid="keep")
age_encoder = OneHotEncoder(inputCol='AgeIndex',outputCol='AgeVec', handleInvalid="keep")

episode_indexer = StringIndexer(inputCol='Total episodes',outputCol='EpisodeIndex', handleInvalid="keep")
episode_encoder = OneHotEncoder(inputCol='EpisodeIndex',outputCol='EpisodeVec', handleInvalid="keep")
#Asamblati coloanele setului de date in vectorul "features"
assembler = VectorAssembler(inputCols=[ 'EpisodeVec', 'AgeVec'],outputCol='features')

from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline

#incepem regresia
log_data = LogisticRegression(featuresCol='features',labelCol='Rating')

#Inlantui elementele definite mai sus ca etape in cadrul unui Pipeline
pipeline =Pipeline(stages=[age_indexer,episode_indexer, age_encoder,episode_encoder,assembler,log_data])

#curatam si antrenam datele
my_final_data = df.select([  'Total episodes',  'Age',  'Rating'])
my_final_data = my_final_data.na.drop()
train_data, test_data = my_final_data.randomSplit([0.7,0.3])

#Antrenare pipeline
fit_model = pipeline.fit(train_data)

#Aplicare model pe datele de test
results = fit_model.transform(test_data)

from pyspark.ml.evaluation import BinaryClassificationEvaluator

#evaluare
my_eval = BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                       labelCol='Rating')

results.printSchema()
results.select('Rating','prediction').show()

AUC = my_eval.evaluate(results)

AUC

+--------------------+---------+--------------+---+------+----------+--------------+
|               Title|     Year|Total episodes|Age|Rating|Vote count|      Category|
+--------------------+---------+--------------+---+------+----------+--------------+
|     1. Breaking Bad|2008�2013|            62| 18|   9.5|    (2.2M)|     TV Series|
|  2. Planet Earth II|     2016|             6| 13|   9.5|    (159K)|TV Mini Series|
|     3. Planet Earth|     2006|            11| 13|   9.4|    (221K)|TV Mini Series|
| 4. Band of Brothers|     2001|            10| 15|   9.4|    (533K)|TV Mini Series|
|        5. Chernobyl|     2019|             5| 15|   9.3|    (876K)|TV Mini Series|
|         6. The Wire|2002�2008|            60| 18|   9.3|    (381K)|     TV Series|
|7. Avatar: The La...|2005�2008|            62| 13|   9.3|    (378K)|     TV Series|
|   8. Blue Planet II|     2017|             7|  0|   9.3|     (47K)|TV Mini Series|
|     9. The Sopranos|1999�2007|            86| 18|   9.2|    (478K)|     TV Series|
|          10. Cosmos|     2014|            13| 13|   9.2|    (130K)|TV Mini Series|
|          11. Cosmos|     1980|            13|  0|   9.3|     (45K)|TV Mini Series|
|      12. Our Planet|2019�2023|            12|  0|   9.3|     (52K)|     TV Series|
| 13. Game of Thrones|2011�2019|            74| 18|   9.2|    (2.3M)|     TV Series|
|14. The World at War|1973�1974|            26| 15|   9.2|     (30K)|     TV Series|
|           15. Bluey|    2018�|           194|  0|   9.4|     (30K)|     TV Series|
|16. Fullmetal Alc...|2009�2010|            68| 13|   9.1|    (200K)|     TV Series|
|  17. Rick and Morty|     2013|            74| 15|   9.1|    (608K)|     TV Series|
|            18. Life|     2009|            11|  0|   9.1|     (43K)|TV Mini Series|
|  19. The Last Dance|     2020|            10| 15|   9.1|    (154K)|TV Mini Series|
|20. The Twilight ...|1959�1964|           156| 12|   9.1|     (94K)|     TV Series|
+--------------------+---------+--------------+---+------+----------+--------------+
only showing top 20 rows

root
 |-- Title: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Total episodes: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Rating: float (nullable = true)
 |-- Vote count: string (nullable = true)
 |-- Category: string (nullable = true)

+--------------------+---------+--------------+---+------+----------+--------------+
|               Title|     Year|Total episodes|Age|Rating|Vote count|      Category|
+--------------------+---------+--------------+---+------+----------+--------------+
|     1. Breaking Bad|2008�2013|            62| 18|     9|    (2.2M)|     TV Series|
|  2. Planet Earth II|     2016|             6| 13|     9|    (159K)|TV Mini Series|
|     3. Planet Earth|     2006|            11| 13|     9|    (221K)|TV Mini Series|
| 4. Band of Brothers|     2001|            10| 15|     9|    (533K)|TV Mini Series|
|        5. Chernobyl|     2019|             5| 15|     9|    (876K)|TV Mini Series|
|         6. The Wire|2002�2008|            60| 18|     9|    (381K)|     TV Series|
|7. Avatar: The La...|2005�2008|            62| 13|     9|    (378K)|     TV Series|
|   8. Blue Planet II|     2017|             7|  0|     9|     (47K)|TV Mini Series|
|     9. The Sopranos|1999�2007|            86| 18|     9|    (478K)|     TV Series|
|          10. Cosmos|     2014|            13| 13|     9|    (130K)|TV Mini Series|
|          11. Cosmos|     1980|            13|  0|     9|     (45K)|TV Mini Series|
|      12. Our Planet|2019�2023|            12|  0|     9|     (52K)|     TV Series|
| 13. Game of Thrones|2011�2019|            74| 18|     9|    (2.3M)|     TV Series|
|14. The World at War|1973�1974|            26| 15|     9|     (30K)|     TV Series|
|           15. Bluey|    2018�|           194|  0|     9|     (30K)|     TV Series|
|16. Fullmetal Alc...|2009�2010|            68| 13|     9|    (200K)|     TV Series|
|  17. Rick and Morty|     2013|            74| 15|     9|    (608K)|     TV Series|
|            18. Life|     2009|            11|  0|     9|     (43K)|TV Mini Series|
|  19. The Last Dance|     2020|            10| 15|     9|    (154K)|TV Mini Series|
|20. The Twilight ...|1959�1964|           156| 12|     9|     (94K)|     TV Series|
+--------------------+---------+--------------+---+------+----------+--------------+
only showing top 20 rows

root
 |-- Title: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Total episodes: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- Vote count: string (nullable = true)
 |-- Category: string (nullable = true)

root
 |-- Total episodes: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- AgeIndex: double (nullable = false)
 |-- EpisodeIndex: double (nullable = false)
 |-- AgeVec: vector (nullable = true)
 |-- EpisodeVec: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

+------+----------+
|Rating|prediction|
+------+----------+
|     8|       8.0|
|     8|       8.0|
|     9|       8.0|
|     8|       8.0|
|     8|       8.0|
|     8|       8.0|
|     9|       8.0|
|     9|       8.0|
|     8|       8.0|
|     8|       8.0|
|     9|       8.0|
|     8|       8.0|
|     8|       8.0|
|     8|       9.0|
|     9|       9.0|
|     8|       8.0|
|     8|       8.0|
|     8|       8.0|
|     8|       8.0|
|     8|       8.0|
+------+----------+
only showing top 20 rows

1.0